<div class="container p-5">
    <form action="">
        <h3>Authentication</h3>
        <div class="form-group">
            <label for="email">Your mail</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">password</label>
            <input type="password" class="form-control is-invalid">
            <div class="invalid-feedback">Please provide a valid password.</div>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Login</button>
        </div>
    </form>
</div>
