<div class="container py-5">
    <div class="row mb-5">
        <div *ngFor="let list of listData | paginate: { id: 'foo', itemsPerPage: 20, currentPage: page }; let i = index" class="col-md-3">
            <div class="d-flex align-items-center custom-control custom-checkbox">
                <input [(ngModel)]="list.fixed" id="{{i}}" type="checkbox" class="custom-control-input">
                <label class="custom-control-label m-0" [style.text-decoration]="list.fixed == true ? 'line-through':'inherit'" for="{{i}}">{{list.lists}}</label>
            </div>
        </div>
    </div>
    <pagination-controls id="foo" (pageChange)="page = $event"></pagination-controls>
    <div class="row">
        <div *ngFor="let user of userData; let i = index;" class="col-md-4">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header d-flex justify-content-between">{{user.first_name}} {{user.last_name}}
                    <code>{{user.date}}</code>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{user.email}}</h5>
                    <p class="card-text">{{user.about}}</p>
                </div>
            </div>
        </div>
    </div>
</div>